{% extends 'base.html' %}

 {% block content %}

  <h1>Tugas 4 PBP</h1>

  {% if user.is_authenticated %}
    <h2>Selamat datang, {{ user.get_username }}!</h2>

    <br>

    <button><a href="{% url 'todolist:create_task' %}">Create Task</a></button>

    <br>
    <br>

    <table>
        <table border = "1" width = "75%">
        <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Date Added</th>
        <th>Status</th>
        <th>Update Task</th>
        <th>Delete</th>
        </tr>

        {% for list in list_todo %}
    <tr>
        <th>{{list.title}}</th>
        <th>{{list.description}}</th>
        <th>{{list.date}}</th>

        {% if list.finished %}
            <td>Selesai</td>
        {% else %}
            <td>Belum Selesai</td>
        {% endif %}

        <td>
          <button><a href="{% url 'todolist:status' list.id %}">Change</a></button>
        </td>
        <td>
          <button><a href="{% url 'todolist:delete' list.id %}">Delete</a></button>
        </td>
    </tr>
    {% endfor %}
    </table>

  {% endif %}
<br>
<button><a href="{% url 'todolist:logout' %}">Logout</a></button>

{% endblock content %}